<%= form_with(model: @appointment, local: true) do |form| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> <%=t('appointment.error_message')%></h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :current_user_name_id, class: "form-control", value: current_user.name %>
  </div>

  <div class="field form-group">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, {start_day: Date.today, start_year: Date.today.year, minute_step: 15 }%>
  </div>

  <div class="field form-group">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, {start_day: Date.today, start_year: Date.today.year, minute_step: 15 }%>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :appointment_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default my-2' %>
  </div>
<% end %>
